html, body{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}
.hidden{
    display: none;
}
.tabs{
    display: flex;
    justify-content: space-between;
}
.tab{
    cursor: pointer;
    background: cornflowerblue;
    border: 1px solid black;
    padding: 5px 0;
    text-align: center;
    width: 25%;
    font-size: 20px;
}
.tab:hover{
    background: rgb(39, 37, 37);
    color: white;
    }